
include topmenu
include bottom_bar

block content
head
	title Test
	meta(charset='utf-8')
	meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')

	link(rel='stylesheet' href='/../chosen/docsupport/style.css')
	link(rel='stylesheet' href='/../chosen/docsupport/prism.css')
	link(rel='stylesheet' href='/../chosen/chosen.css')

	link(rel='stylesheet' href='/../bootstrap/css/bootstrap.min.css')
	link(rel='stylesheet' href='/../bootstrap/css/bootstrap-theme.min.css')

	//- link(rel='stylesheet' href='/../css/style.css')
	
	link(rel='stylesheet' href='/../css/animate.min.css')
	link(rel='stylesheet' href='/../css/animate.css')
	
	link(rel='stylesheet' href='/../bootstrap/css/bootstrap-select.min.css')
			
	//- link(rel='stylesheet' href='/../css/font-awesome-4.6.3/css/font-awesome.min.css')
	link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
	link(rel='stylesheet' href='https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css')
	
	link(rel='stylesheet' href='/../css/style.css')

body
	script(src='http://code.jquery.com/jquery-1.11.1.min.js')
	script(src='http://code.jquery.com/ui/1.11.1/jquery-ui.min.js')
	script(src='/../js/all.js')
	script(src='/../bootstrap/js/bootstrap.min.js')
	script(src='/../datatables/js/jquery.dataTables.js')
	script(src='/../bootstrap/js/bootstrap-select.min.js')
	script(src='/../chosen/chosen.jquery.js')
	script(src='/../chosen/docsupport/prism.js')
	script(src='/../chosen/docsupport/init.js')

	script(src='/../js/masonry.pkgd.min.js')
	

	+topmenu
	+bottom_bar



script(type='text/javascript').

	$(document).ready(function() {

		$("body").on("click", ".fa-search", function() {
			var searchtext = $('input[name="searchtext"]').val();
			var url = '/allpostings/' + searchtext;  
			window.location.href = url;
			return false;
		});


	});