include layouts/header
include mixins/post



.container-fluid(style={'margin-top':'80px', 'margin-bottom': '70px'})

	.card-columns
		if (data)
			each item in data
				+post( item )

script(type='text/javascript').

	$(document).ready(function() {

		$("body").on("click", ".card", function() {
			var postingID = $(this).attr('id');			
			var url = '/postingsByPostingID/' + postingID;  
			window.location.href = url;
			return false;
		});


	});