<%- include layouts/header.ejs %>

<div class="container">
<div class="row  pad-top">
<div class="col-md-8 col-md-offset-2">

<ul class="media-list">

    <% if(data){ if(data.length){
     for(var i = 0; i < data.length; i++) { %>

    <li class="media" id='<%=data[i].PostingID%>'>

		<% if(data[i].FileName) { %>
		<a class="pull-left" href="#">
			<img class="thumb" src="/uploads/<%=data[i].FileName%>" >
		</a>	
		<% } %>		

		<div class="media-body">
			<p> 
				<%=data[i].Title%>
				</br>
				<%=data[i].PostingText%>
				</br>
				<%=data[i].Price%>
				</br>
				
			</p>	
		</div>

   </li>
  <%}}}%>


</ul>

</div>
</div>
</div>


<%- include layouts/footer.ejs %>