include layouts/header

.container.page-data
	form(method='POST' action='/login')
		.col-sm-6.well

			.editAdSection  
				h1 Login
				br
				a(href="/auth/facebook") Facebook
				br
				br
				a(href="/auth/google") Google
