include layouts/header
include mixins/myitem

.container-fluid(style={'margin-top':'100px', 'margin-bottom': '70px'})
	
	//- .grid(data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 150 }')
	//- 	if (mylistingData)
	//- 			each item in mylistingData
	//- 				+myitem(item)

	.row
		if (mylistingData)
			each item in mylistingData
				+myitem( item )
									
script(type='text/javascript').

	$(document).ready(function() {
	
		var itemID;
						
		$("body").on("click", ".box", function() {
			itemID = $(this).attr('id');	
			var url = '/postings/edit/' + itemID; 			
			window.location.href = url;
			return false;
		});
	
		$('img.card-img-top').each(function() {
			var deg = $(this).data('rotate') || 0;
			var rotate = 'rotate(' + $(this).data('rotate') + 'deg)';
			$(this).css({ 
				'-webkit-transform': rotate,
				'-moz-transform': rotate,
				'-o-transform': rotate,
				'-ms-transform': rotate,
				'transform': rotate 
			});
		});
		
	});