include layouts/header
include mixins/_myitem

.container(style={'margin-top':'100px', 'margin-bottom': '70px'})
	
	//- .row.well
	//- 	.col-sm-12
	.grid(data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 150 }')
		if (mylistingData)
				each item in mylistingData
					+myitem(item)


									
script(type='text/javascript').

	$(document).ready(function() {
	
		var itemID;
						
		$("body").on("click", ".myitem", function() {
			itemID = $(this).attr('id');	
			var url = '/postings/edit/' + itemID; 			
			window.location.href = url;
			return false;
		});
	
		$('img.center-left.img-responsive2').each(function() {
			var deg = $(this).data('rotate') || 0;
			var rotate = 'rotate(' + $(this).data('rotate') + 'deg)';
			$(this).css({ 
				'-webkit-transform': rotate,
				'-moz-transform': rotate,
				'-o-transform': rotate,
				'-ms-transform': rotate,
				'transform': rotate 
			});
		});
		
	});