mixin itemrating

	.form-group.form-row
		.col-sm-2
			.input-group
				.input-group-btn
					button.btn.btn-primary.fa.fa-thumbs-up#up(type='button')

		.col-sm-1
			label#ratingvalue(for='ratingvalue') 0
		
		.col-sm-2
			.input-group
				.input-group-btn
					button.btn.btn-primary.fa.fa-thumbs-down#down(type='button')


