mixin itemrating

	//- .btn-group-sm.float-right(role="group")
	.form-group.form-row
		.col-sm-3
			.input-group
				.input-group-btn
					button.btn.btn-primary.fa.fa-thumbs-up#up(type='button')
				input.form-control(type='text' id='ups' name='ups' value='+10' )

		.col-sm-3
			.input-group
				.input-group-btn
					button.btn.btn-primary.fa.fa-thumbs-down#down(type='button')
				input.form-control(type='text' id='downs' name='downs' value='-10' )

